body {
    font-family: "Noto Sans JP";
}

.md-typeset pre {
  color: #ffffff;
}

.md-typeset .highlighttable {
  margin-left:-20px;
  margin-right: -20px;
  border-radius: 0;
}

.md-typeset .highlighttable > * {
  --md-code-bg-color: #000 !important;
}

.md-typeset .highlighttable .linenos .linenodiv pre span {
  background-color: #000 !important;
  color: #999 !important;
  margin: 0;
}

.md-typeset .codehilitetable .md-clipboard:before {
  color: rgba(240,240,240,.8);
}

.md-typeset .codehilitetable .md-clipboard:hover:before {
  color: rgba(102,217,224,1);
}
