body {
    font-family: "Noto Sans JP";
}

.md-typeset pre {
  color: #ffffff;
}

.md-typeset .highlighttable > * {
  --md-code-bg-color: #000 !important;
}

.md-typeset .highlighttable .linenos .linenodiv pre span {
  background-color: #000 !important;
  color: #999 !important;
  margin: 0;
}
